.container{
    width: 500px;
    height: 500px;
    background-color: bisque;
    display: flex;
    
}

.container .b1{
    width: 100px;
    height: 200px;
    background-color: aliceblue;
    margin:4px;


}
.container .b2{
    width: 100px;
    height: 200px;
    background-color: aliceblue;
    margin: 4px;

}
.container .b3{
    width: 100px;
    height: 200px;
    background-color: aliceblue;
    margin: 4px;

}
.container .b4{
    width: 100px;
    height: 200px;
    background-color: aliceblue;
    margin: 4px;

}