* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: rgb(255,255,255);
    background: linear-gradient(81deg, rgba(255,255,255,0.6560749299719888) 0%, rgba(242,183,219,1) 25%, rgba(255,254,215,1) 100%);
}
.logo{
    width: 100px;
    height: 150px;
    border-radius: 70px;
}
nav {

display: flex;


 
}
nav a{
    margin-left: 50px;
    text-decoration: none;
    padding: 10px;
   position: relative;
   top: 70px;
  left: 600px;
 margin-right: 50px;
 

  
    
}