



  
  .b1{
     
    margin-top: 10px;
     
      background-color: rgb(38, 137, 224);
      color: black;
   }
   
    .b2
   {
   
  
      margin-top: 10px;
    
      background-color: rgb(38, 224, 38);
    
      color: black;
  
  }
   .b3
   {
   
    
      margin-top: 10px;
      
      background-color: rgb(224, 38, 38);
     
      color: black;
  
  }
  .b4
  {
  
   
     margin-top: 10px;
    
     background-color: rgb(22, 66, 104);
    
     color: black;
  
  }
  .b5
  {
  
     margin-top: 10px;
   
     background-color: rgb(38, 137, 224);
  
     color: black;
  
  }
  .b6
  {
  
   
     margin-top: 10px;
    
     background-color: rgb(163, 181, 62);
  
     color: black;
  
  }
  .b7
  {
  
   
     margin-top: 10px;
    
     background-color: rgb(16, 95, 117);
  
     color: black;
  
  }
  .b8
  {
  
    
     margin-top: 10px;
   
     background-color: rgb(38, 137, 224);
  
     color: black;
  
  }
  .b9
  {
  
    
     margin-top: 10px;
  
     background-color: rgb(96, 12, 31);
   
     color: black;
  
  }
  .b10
  {
  
 
     margin-top: 10px;
    
     background-color: rgb(38, 224, 196);
     
     color: black;
  
  }
  