.container{
    display: grid;
    grid-template-columns: repeat(4,100px);
    gap:10px;
    padding: 8px;
   
    
}
.container .box{
    background-color: blue;
    width: 100px;
    height: 100px;
  
   

}