

.box{
    margin: 10px;
    padding: 10px;

}
.right{
   
   
    font-family: 'Times New Roman', Times, serif;
}
.center{
  
    font-family: Arial, Helvetica, sans-serif;
}
.justify{
   
    font-family: 'Trirong', serif; 
}