h1{
    text-transform:none;
    color: red;
    text-align:left;
    font-style:normal;
}
h2{
    text-transform:none;
    color: green;
    text-align:left;
    font-weight: bold;
    font-family: arial;
}
h3{
    text-transform: capitalize;
    text-decoration: underline;
    background-color: aquamarine;
    color: rgb(18, 18, 217);
}
h4{
   
    text-transform: capitalize;
    color: rgb(90, 53, 53);
    text-shadow: 2px 2px 4px #757272;
    
}
h5{
   
    text-transform: capitalize;
    text-decoration: line-through;
    color: brown;
    text-align: right;
    
}
h6{
   
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: red;
    color: yellow;
    
    
}
.p1{
    text-transform: capitalize;
    text-decoration: underline;
    
    color: blue;

}
.p2{
    text-transform: capitalize;
    text-decoration: underline;
    color: brown;
}